:root {
  --color1: #223d47;
  --color2: #7e9d9a;
  --color3: #b3c2c8;
  --color4: #759ab0;
  --color5: #f2eaed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color5);
  transition: background-color 0.4s ease;
}

body {
  background-color: var(--color2);
}
.logo i {
  font-size: 3em;
  color: var(--color1);
  margin-left: 16px;
}
.mode {
  position: absolute;
  top: 8px;
  right: 4%;
  line-height: 2;
  color: var(--color3);
}
.fa-solid {
  font-size: 24px;
  vertical-align: middle;
  margin-left: 6px;
}
.container {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
  min-height: 100vh;
}
.logo {
  width: 10%;
}

.container-input {
  background-color: var(--color1);
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
  padding: 2%;
  border-radius: 32px;
  min-height: 70vh;
}
textarea {
  font-size: 32px;
  background-color: transparent;
  resize: none;
  flex-grow: 1;
  padding: 4%;

  border: none;
}
textarea:focus {
  outline: none;
}
::selection {
  background-color: var(--color4);
}
textarea::placeholder {
  color: var(--color5);
}
.material-symbols-outlined {
  font-size: 13px;
}
.advertencia {
  margin-left: 24px;
  margin-bottom: 5px;
  font-size: 16px;
}
.container-result textarea {
  color: var(--color1);
}
.container-result {
  margin: 2%;
  background-color: var(--color5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 2%;
  border-radius: 32px;
  min-width: 300px;
  max-width: 360px;
  min-height: 70vh;
}
#result {
  padding: 4%;
  font-size: 24px;
}
button {
  font-weight: 600;
  font-size: 16px;
  color: var(--color2);
  border: 2px solid var(--color4);
  text-align: center;
  padding: 14px;
  flex-grow: 1;
  max-width: 300px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.18s ease;
  z-index: 2;
}
button i {
  margin-right: -32px;
}
button:hover {
  color: var(--color5);
  background-color: var(--color4);
}
.botones {
  display: flex;
  justify-content: space-evenly;
}
#mensajeCopiado {
  color: var(--color3);
  font-weight: bold;
  margin-bottom: 5px;
}
#loading {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#loading h3 {
  color: var(--color2);
  font-size: 21px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .container-input {
    margin: 20px;
  }
  .container-result {
    max-width: none;
    margin: 20px;
  }
}
